<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Custom fonts for this template-->
    <link th:href="@{/endor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top">

    <ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/teacher/}">
            <div class="sidebar-brand-text mx-3">MyExam - TEACHER</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/teacher/}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Main page</span></a>
        </li>
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Tests
        </div>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/teacher/question/add}">
                <i class="fas fa-fw fa-plus-square"></i>
                <span>Add question</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/teacher/question/all}">
                <i class="fas fa-fw fa-table"></i>
                <span>Questions list</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/teacher/test/add}">
                <i class="fas fa-fw fa-plus-square"></i>
                <span>Add test</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/teacher/test/all}">
                <i class="fas fa-fw fa-table"></i>
                <span>Tests list</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Students
        </div>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/teacher/student/add}">
                <i class="fas fa-fw fa-plus-square"></i>
                <span>Add student</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/teacher/student/all}">
                <i class="fas fa-fw fa-table"></i>
                <span>Student list</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
</body>

</html>
